<div class="body">
    <!--Todo Creamos el formulario junto con la funcion que recolectaran los datos -->
    <form (ngSubmit)="entrar()" [formGroup]="formLogin" class="form">
        <span class="form-title" id="ltrblanca">Inicia Secion</span>
        <!--Todo se crea un container que agrupe los inputs de mi formulario-->
        <div class="form-container">

            <!--Todo Agripamos cada formulario en un div para darle diseño-->
            <div class="form-group">

                <input type="text" id="usuario" class="form-input" name="Usuario" placeholder=" "
                    formControlName="Usuario"/>
                <label for="usuario" class="form-label">Usuario</label>
                <span class="form-line"></span>
                <div id="alerta" [hidden]="Usuario.valid || Usuario.pristine">
                    el nombre es obligatorio
                </div>
            </div>

            <div class="form-group">

                <input id="password" type="password" name="Password" class="form-input" placeholder=" "
                    formControlName="Password"/>
                <label for="password" class="form-label">Contraseña</label>
                <div id="alerta" [hidden]="Password.valid || Password.valid">
                    <span *ngIf="Password?.errors?.['required']">
                        Campo Vacio
                    </span>

                    <span *ngIf="Password?.errors?.['maxlength']">
                       Invalido (debe estar entre 8 y 10 Caracterés)
                    </span>
                    <span *ngIf="Password?.errors?.['minlength']">
                        Invalido (debe estar entre 8 y 10 Caracterés)
                     </span>
                </div>
            </div>
            <input type="submit" class="form-button" [disabled]="formLogin.invalid" value="Entrar" />
        </div>
    </form>
</div>
{{this.formLogin.get([])|json}}